<div class="tradingview-widget-container" style="margin: 10px 0; border-bottom: 1px solid #eee;">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
    "symbols": [
      { "proName": "BIST:XU100", "title": "BIST 100" },
      { "proName": "FOREXCOM:SPX3500", "title": "S&P 500" },
      { "proName": "FX_IDC:XAUUSD", "title": "Altın" },
      { "proName": "FX:USDTRY", "title": "USD/TRY" },
      { "proName": "BITSTAMP:BTCUSD", "title": "Bitcoin" }
    ],
    "showSymbolLogo": true,
    "colorTheme": "light",
    "isTransparent": false,
    "displayMode": "adaptive",
    "locale": "tr"
  }
  </script>
</div>